/* sm */
@media screen and (min-width: 640px) {
  #home .left-header button {
    width: fit-content;
  }
}

/* md */
@media screen and (min-width: 768px) {
  #home .left-header p {
    font-size: 16px;
  }
  #technology ul button {
    font-size: 16px;
    padding: 14px 24px;
  }

  #client .carousel-item p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 22px;
  }
}

/* large */
@media screen and (min-width: 992px) {
  #home .left-header h1 {
    font-size: 53px;
  }
  #home .right-header .phone {
    width: 70px;
    height: 70px;
  }
  #home .right-header .code {
    width: 74px;
    height: 74px;
  }
  .header-section h2 {
    font-size: 42px;
  }
}

/* Xl */
@media screen and (min-width: 1280px) {
  #home .left-header span {
    font-size: 16px;
  }

  #home .left-header h1 {
    font-size: 60px;
  }
  #home .left-header button {
    padding: 16px 40px;
    font-size: 18px;
  }
  #home .left-header .stat span {
    font-size: 30px;
  }

  #home .left-header .stat p {
    font-size: 16px;
  }
  #home .right-header .phone {
    width: 80px;
    height: 80px;
  }
  #home .right-header .code {
    width: 96px;
    height: 96px;
  }
  .header-section span {
    font-size: 14px;
  }
  .header-section h2 {
    font-size: 48px;
  }
  .header-section p {
    font-size: 16px;
  }
  #start-journey .start-journey-header h2 {
    font-size: 72px;
  }
  #services .content span,
  #services .content p,
  #services .content .learn-more {
    font-size: 16px;
  }
  #services .content h3 {
    font-size: 20px;
  }
  #technology ul button {
    font-size: 18px;
    padding: 16px 32px;
  }

  #technology .headTabs h3 {
    font-size: 24px;
  }

  #technology p {
    font-size: 16px;
  }
  #technology h4 {
    font-size: 20px;
  }

  #technology .logo {
    width: 64px;
    height: 64px;
    font-size: 16px;
  }

  #technology span {
    padding: 4px 12px;
  }
}

/* XXL */
@media screen and (min-width: 1636px) {
}
