@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body{
  font-family: "Inter";
}

:root {
  --section-padding: 100px;
  --main-color: #ea580c;
  --bg-section: linear-gradient(to top left,#FFF8EF,#FFFFFD);;
  --header-color: #7c2d12;
  --text-color: #4c5564;
  --transition: all 0.3s ;
}

::-moz-selection {
  background-color: #d9622b;
  color: #fff;
}

::selection {
  background-color: #d9622b;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* html,
body {
  overflow-x: clip;
} */


/* Start Home Section */
#home{
  padding-block: var(--section-padding);
  background: var(--bg-section)
}

#home .left-header span{
  background-color: #FDEADF;
  color: var(--main-color);
  font-size: 12px;
}

#home .left-header h1{
  font-size: 32px;
  background: linear-gradient(
    to bottom,
    #E06A2C,
    #7A2E1A,
    #C45724
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .left-header .span{
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

#home .left-header p{
  max-width: 545px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
  font-size: 14px;
}
#home .left-header .btns{
  margin-bottom: 32px;
}
#home .left-header button{
  padding: 14px 21px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 16px;
  color: var(--text-color);
  border: none;
}
#home .left-header .btns .btn-start{
  background :linear-gradient(to left ,#C5430C, #E7560D);
  transition: var(--transition) ease-in-out;
}

#home .left-header .btns .btn-start:hover{
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px  0px var(--main-color);
}

#home .left-header .btns .btn-end{
  transition: var(--transition);
  background-color: inherit;
  border: 2px solid #D2D5DB;
}

#home .left-header .btns .btn-end:hover{
  color: var(--main-color);
  border-color: var(--main-color);
}

#home .left-header .stat span{
  background-color: #FFFFFE;
  color: var(--main-color);
  font-size: 26px;
}

#home .left-header .stat p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

#home .right-header{
  width: 75%;
  margin-inline: auto;
  padding: 30px;
  background-color: white;
  position: relative;
}

#home .right-header::before{
  position: absolute;
  content: "";
  inset: 0;
  background-color: #FCDCD0;
  border-radius: 15px;
  transform: rotate(3deg);
  z-index: -1;
}

#home .right-header .phone{
  width: 63px;
  height: 63px;
  font-size: 20px;
  background-color: #7A2E1A;
  position: absolute;
  bottom: -20px;
  left: -20px;
  background :linear-gradient(to top right ,#C9450C, #E2530A);
}
#home .right-header .code{
  width: 75px;
  height: 75px;
  font-size: 20px;
  background-color: #7A2E1A;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #D64C0D;
}



/* End Home Section */