@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter";
}

:root {
  --section-padding: 100px;
  --main-color: rgb(234, 88, 12);
  --bg-section: linear-gradient(to top left, #fff8ef, #fffffd);
  --header-color: #7c2d12;
  --text-color: #4c5564;
  --transition: all 0.3s;
}

::-moz-selection {
  background-color: #d9622b;
  color: #fff;
}

::selection {
  background-color: #d9622b;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* html,
body {
  overflow-x: clip;
} */

/* End Global Header Text Section */
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.header-section span {
  background-color: #fdeadf;
  color: var(--main-color);
  font-size: 12px;
  font-weight: 500;
}
.header-section h2 {
  font-weight: 900;
  font-size: 26px;
  background: linear-gradient(to right, #7c2d12 15%, #e06a2c, #c45724);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-section h2 span {
  background-color: inherit;
  font-size: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.header-section p {
  max-width: 560px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}
/* Start Global Header Text Section */

/* Start Home Section */
#home {
  padding-block: var(--section-padding);
  background: var(--bg-section);
}

#home .left-header span {
  background-color: #fdeadf;
  color: var(--main-color);
  font-size: 12px;
}

#home .left-header h1 {
  font-size: 32px;
  background: linear-gradient(to bottom, #e06a2c, #7a2e1a, #c45724);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .left-header .span {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
}

#home .left-header p {
  max-width: 545px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
  font-size: 14px;
}
#home .left-header .btns {
  margin-bottom: 32px;
}
#home .left-header button {
  padding: 14px 21px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 16px;
  color: var(--text-color);
  border: none;
}
#home .left-header .btns .btn-start {
  background: linear-gradient(to left, #c5430c, #e7560d);
  transition: var(--transition) ease-in-out;
}

#home .left-header .btns .btn-start:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px 0px var(--main-color);
}

#home .left-header .btns .btn-end {
  transition: var(--transition);
  background-color: inherit;
  border: 2px solid #d2d5db;
}

#home .left-header .btns .btn-end:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

#home .left-header .stat span {
  background-color: #fffffe;
  color: var(--main-color);
  font-size: 26px;
}

#home .left-header .stat p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

#home .right-header {
  width: 75%;
  margin-inline: auto;
  padding: 30px;
  background-color: white;
  position: relative;
}

#home .right-header::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fcdcd0;
  border-radius: 15px;
  transform: rotate(3deg);
  z-index: -1;
}

#home .right-header .phone {
  width: 63px;
  height: 63px;
  font-size: 20px;
  position: absolute;
  bottom: -20px;
  left: -20px;
  background: linear-gradient(to top right, #c9450c, #e2530a);
}
#home .right-header .code {
  width: 75px;
  height: 75px;
  font-size: 20px;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #d64c0d;
}

/* End Home Section */

/* Start Services Section */
#services {
  padding-block: var(--section-padding);
}

#services .content {
  border: #f6f7f8 solid 2px;
  transition: var(--transition) ease-in-out;
}

#services .content:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgba(234, 88, 12, 0.2);
}

#services .content:hover .logo {
  transform: scale(1.1);
}

#services .content:hover .learn-more i {
  margin-left: 10px;
}

#services .content .logo {
  width: 64px;
  height: 64px;
  font-size: 24px;
  background: linear-gradient(to top right, #c9450c, #e2530a);
  transition: var(--transition) ease-in-out;
}

#services .content span,
#services .content p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}
#services .content span i {
  color: var(--main-color);
}

#services .content h3 {
  color: #7c2d12;
  font-size: 18px;
  font-weight: 700;
}

#services .content .learn-more {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
}
#services .content .learn-more i {
  margin-left: 5px;
  transition: var(--transition) ease-in-out;
}

/* End Services Section */

/* End Technology Section */
#technology {
  padding-block: var(--section-padding);
}

#technology .technology-header h2 {
  background: linear-gradient(to right, #7c2d12 35%, #e06a2c, #c45724);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#technology .technology-header p {
  max-width: 600px;
}

#technology ul button {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 7px 14px;
}
#technology .nav-tabs .nav-link.active,
#technology .nav-tabs .nav-link:hover {
  color: var(--main-color) !important ;
  border-color: var(--main-color);
  border: 0px;
  border-bottom: 2px solid var(--main-color);
}

#technology .headTabs h3 {
  color: #7c2d12;
  font-weight: 700;
  font-size: 21px;
}

#technology p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
}

#technology h4 {
  color: #7c2d12;
  font-weight: 700;
  font-size: 18px;
}

#technology .logo {
  width: 54px;
  height: 54px;
  font-size: 14px;
}

#technology span {
  padding: 3.5px 10.5px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 999px;
  margin-bottom: 10px;
}
#technology .col-hover {
  transition: var(--transition) ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#technology .col-hover:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

/* React  & Python & React Native &Microsoft & Docker & PostgreSQL & GraphQL*/
#technology .React,
#technology .Python,
#technology .Native,
#technology .Microsoft,
#technology .Docker,
#technology .PostgreSQL,
#technology .GraphQL {
  background-color: #ecf3fe;
}
#technology .React .logo,
#technology .Python .logo,
#technology .Native .logo,
#technology .Microsoft .logo,
#technology .Docker .logo,
#technology .PostgreSQL .logo,
#technology .GraphQL .logo {
  background-color: #2b7fff;
  color: #fff;
}

#technology .GraphQL .logo {
  background-color: #4f39f6;
}

#technology .React span,
#technology .Python span,
#technology .Native span,
#technology .Microsoft span,
#technology .Docker span,
#technology .PostgreSQL span,
#technology .GraphQL span {
  background-color: #dbeafe;
  color: #193cb8;
}

/* Next & iOS & Pipeline*/
#technology .Next,
#technology .iOS,
#technology .Pipeline {
  background-color: #f8f9fa;
}
#technology .Next .logo,
#technology .iOS .logo,
#technology .Pipeline .logo {
  background-color: black;
  color: #fff;
}

#technology .Pipeline .logo {
  background-color: #364152;
}

#technology .Next span,
#technology .iOS span,
#technology .Pipeline span {
  background-color: #f3f4f6;
  color: #000;
}

/* Vue & Android Native  & MongoDB*/
#technology .Vue,
#technology .Android,
#technology .MongoDB {
  background-color: #e8fdef;
}
#technology .Vue .logo,
#technology .Android .logo,
#technology .MongoDB .logo {
  background-color: #00c950;
  color: #fff;
}
#technology .Vue span,
#technology .Android span,
#technology .MongoDB span {
  background-color: #eafef0;
  color: #016730;
}

#technology .MongoDB .logo {
  font-weight: 700;
  background-color: #008236;
}

/* Angular & PWA &Amazon */
#technology .Angular,
#technology .PWA,
#technology .Amazon {
  background-color: #fff5e6;
}
#technology .Angular .logo,
#technology .PWA .logo,
#technology .Amazon .logo {
  background-color: #ff6900;
  color: #fff;
}
#technology .Angular span,
#technology .PWA span,
#technology .Amazon span {
  background-color: #ffecd4;
  color: #963615;
}

/* Tailwind & Flutter*/
#technology .Tailwind,
#technology .Flutter {
  background-color: #e6fdff;
}
#technology .Tailwind .logo,
#technology .Flutter .logo {
  background-color: #00b8db;
  color: #fff;
}
#technology .Tailwind span,
#technology .Flutter span {
  background-color: #cefafe;
  color: #275d76;
}

/* Vite & Xamarin & Kubernetes &TElasticsearch*/
#technology .Vite,
#technology .Xamarin,
#technology .Kubernetes,
#technology .TElasticsearch {
  background-color: #f8f2ff;
}
#technology .Vite .logo,
#technology .Xamarin .logo,
#technology .Kubernetes .logo,
#technology .TElasticsearch .logo {
  background-color: #ad47ff;
  color: #fff;
}

#technology .Kubernetes .logo {
  font-weight: 700;
}

#technology .Vite span,
#technology .Xamarin span,
#technology .Kubernetes span,
#technology .TElasticsearch span {
  background-color: #f3e8ff;
  color: #6d11b0;
}

/* Node.js */
#technology .Node {
  background-color: #ebfdf0;
}
#technology .Node .logo {
  background-color: #00a63e;
  color: #fff;
}
#technology .Node span {
  background-color: #dcfce6;
  color: #2b6536;
}

/* Golang & Redis */
#technology .Golang,
#technology .Redis {
  background-color: #feedee;
}
#technology .Golang .logo,
#technology .Redis .logo {
  background-color: #e7000b;
  color: #fff;
  font-weight: 700;
}

#technology .Redis .logo {
  background-color: #c10008;
}

#technology .Golang span,
#technology .Redis span {
  background-color: #ffe2e1;
  color: #9e0812;
}

/* Java */
#technology .Java {
  background-color: #f8f2ff;
}
#technology .Java .logo {
  background-color: #9810fa;
  color: #fff;
}
#technology .Java span {
  background-color: #f3e8ff;
  color: #641aa9;
}

/* NET */
#technology .NET {
  background-color: #ebf0ff;
}
#technology .NET .logo {
  background-color: #4f39f6;
  color: #fff;
  font-weight: 700;
}
#technology .NET span {
  background-color: #dfe7ff;
  color: #3146c8;
}

/* Ruby */
#technology .Ruby {
  background-color: #e8fdf8;
}
#technology .Ruby .logo {
  background-color: #009689;
  color: #fff;
  font-weight: 700;
}
#technology .Ruby span {
  background-color: #cbfbf1;
  color: #006059;
}

/* Google Cloud */
#technology .Google {
  background-color: #fef1f1;
}
#technology .Google .logo {
  background-color: #fa2c37;
  color: #fff;
}
#technology .Google span {
  background-color: #ffe2e1;
  color: #a90210;
}

/* MySQL  */
#technology .MySQL {
  background-color: #fefcdf;
}
#technology .MySQL .logo {
  background-color: #d18700;
  color: #fff;
}
#technology .MySQL span {
  background-color: #fffbd0;
  color: #884b00;
}

/* End Technology Section */

/* End Client Section */
#client {
  padding-block: var(--section-padding);
  /* background: linear-gradient(to top left ,#FEF7ED ,#F9FAFB); */
  background-color: teal;
}

#client .client-header h2 {
  background: linear-gradient(to right, #7c2d12 38%, #e06a2c, #c45724);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#client .client-header p {
  max-width: 600px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}

#client .carousel-indicators button {
  background-color: #d2d5db;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

#client .carousel-indicators button:hover {
  background-color: #f5aa8a;
  width: 32px;
  height: 8px;
  transition: all 0.4s ease-in-out;
}

#client .carousel-indicators button.active {
  background-color: red !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

#client .carousel-item .logo {
  color: var(--main-color);
  width: 64px;
  height: 64px;
  background-color: #fbede8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
}

#client .carousel-item .rate {
  font-size: 16px;
}

#client .carousel-item .rate span {
  color: var(--text-color);
}

#client .carousel-item .Verified {
  color: var(--main-color);
}

#client .carousel-item .Verified p {
  background-color: #faece8;
  padding: 5px 15px;
  width: fit-content;
  font-size: 16px;
}

#client .carousel-item .Verified span {
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 14px;
  padding: 3px;
}

#client .carousel-item p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  border-bottom: #F5F6F7 2px solid;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* End Client Section */

/* End FAQ Section */
#FAQ {
  padding-block: var(--section-padding);
}

#FAQ .Faq-header h2 {
  background: linear-gradient(to right, #7c2d12 55%, #e06a2c, #c45724);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#FAQ .Faq-header p {
  max-width: 605px;
}
/* End FAQ Section */

/* End Start Your Journey Section */
#start-journey {
  padding-block: var(--section-padding);
}

#start-journey .start-journey-header h2 {
  background: linear-gradient(to top, #e06a2c, #c45724, #7c2d12 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#start-journey .start-journey-header p {
  max-width: 590px;
}

/* End Start Your Journey Section */
